body{
    color: white;
    background-image: url(../images/background_subway.jpg);
    background-repeat: no-repeat;
    background-color: black;
    color: white;
    width: 100%;
    text-shadow: 2px 2px 10px #000;
}
a{
	color: red;
}